%h1 DK-tracking Form

%table#forms
  %thead
    %tr
      %th= "Forms"
  %tbody
    - @templates.each do |template|
      %tr
        %td= link_to "Template" + template.id.to_s, survey_template_path(template)

