- # this is show view for the SurveyTemplate model views/survey_template/show.html.haml

%h2 Submit a survey

= form_tag submissions_path do
  - @fields.each do |field|
    = label :submission, field.id, field.question_title
    = text_field :submission, field.id
  <br>  
  = submit_tag 'Save Changes'
