!!! 5
%html
  %head
    %title DK Tracker Dashboard
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %h1.title DK Tracker Dashboard
    #main
      = yield
